*{
    background-color: black;
    color: white;
}

header{
    padding: 10px;
    margin: 60px;
}

nav{
    display: inline;
    position: static;
}

.logo{
    float: left;
}

.hamburger {
    float: right;
}

.intro {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}